extends: default

ignore: |
  node_modules/

rules:
  braces:
    min-spaces-inside: 1
    max-spaces-inside: 1
    min-spaces-inside-empty: 0
    max-spaces-inside-empty: 0
  brackets:
    min-spaces-inside: 1
    max-spaces-inside: 1
    min-spaces-inside-empty: 0
    max-spaces-inside-empty: 0
  colons:
    max-spaces-before: 0
    max-spaces-after: -1
  commas:
    max-spaces-before: 0
    min-spaces-after: 1
    max-spaces-after: 1
  comments:
    level: warning
    require-starting-space: yes
    min-spaces-from-content: 1
  comments-indentation:
    level: warning
  document-end: disable
  document-start:
    level: warning
    present: yes
  empty-lines:
    max: 1
    max-start: 0
    max-end: 0
  empty-values:
    forbid-in-block-mappings: true
    forbid-in-flow-mappings: true
  hyphens:
    max-spaces-after: 1
  indentation:
    spaces: 2
    indent-sequences: consistent
    check-multi-line-strings: no
  key-duplicates: enable
  line-length:
    max: 200
    allow-non-breakable-words: yes
  new-line-at-end-of-file: enable
  new-lines:
    type: unix
  octal-values:
    forbid-explicit-octal: true
  trailing-spaces: disable
  truthy: disable
